<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="page3"></ion-back-button>
      </ion-buttons>
    <ion-title>如何使用</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card id="Howtousecomputer">
        <img alt="Silhouette of mountains" src="/assets/2353677.png" />
        <ion-card-header>
            <ion-card-title>How to start computer</ion-card-title>
            <ion-card-subtitle>let me explain how to start the computer</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
             first, when you chick the start button the computer will show the 1 - 9 button and the operator button, you can use them to calculate us provide + - * / % computer method start to calculate
        </ion-card-content>
    </ion-card>
    <br>
    <ion-card id="Howtousescience">
        <img alt="Silhouette of mountains" src="/assets/s.jpeg" />
        <ion-card-header>
            <ion-card-title>what is science operation</ion-card-title>
            <ion-card-subtitle>explain the science operation</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            science operation is better profit than computer operation, science operation provide many computer method sach as cos sin tan cot etc.
        </ion-card-content>
    </ion-card>
    <br>
    <ion-card id="Howtouseai">
        <img alt="Silhouette of mountains" src="/assets/ai.jpeg" />
        <ion-card-header>
            <ion-card-title>what is AI operation</ion-card-title>
            <ion-card-subtitle>explain the AI operation</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            are you will to use AI operation ? what is AI operation ? AI operation can do many math problem for you sach as alex i don't know how to compute application question, you can use AI operation to help you
        </ion-card-content>
    </ion-card>
    <br>
    <ion-card id="Howtousehistory">
        <img alt="Silhouette of mountains" src="/assets/History.jpeg" />
        <ion-card-header>
            <ion-card-title>History</ion-card-title>
            <ion-card-subtitle>explain What is History</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            you can look compute history in History page 
        </ion-card-content>
    </ion-card>
</ion-content>
