<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="page3"></ion-back-button>
    </ion-buttons>
    <ion-title>Scutoids Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">關於</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="about-page">
    <div class="header">
      <h1>關於我們</h1>
    </div>
    <div class="content">
      <p>歡迎使用我的計算器應用程式！</p> <!-- set welcome message -->
      <div class="app-info"> <!-- set class app-info and show app name, version, and copyright -->
        <h2>應用程式名稱: Scutoids Calculator App</h2>
        <p>應用程式版本: V3.0</p>
        <p>版權: &copy; 2025 Scutoids</p>
      </div>
    </div>
    <h1>我的團隊工作室</h1>
    <ion-button expand="block" (click)="CompanyMap()">Company location</ion-button>
    <div class="footer"> <!-- set copyright -->
      <p>&copy; 2025 Scutoids</p>
    </div>
  </div>

</ion-content>